$primary: #4242ba;
$success: #28a745;
$danger: #dc3545;
$warning: #ecc852;
$grey: #cfcfcf;
$dark: #333333;
$white: #fff;

$variants: (
  primary $primary $white,
  success $success $white,
  danger $danger $white,
  warning $warning $white,
  light $grey $dark,
  dark $dark $white
);

$formErrors: (success $success, danger $danger, warning $warning);
